# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Spark
spark-warehouse/
metastore_db/
*.log

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
# Base directory
base/